services:
  app:
    build: .
    image: attack-aware-app22:latest
    container_name: attack-aware-app
    expose:
      - "5000"

  nginx:
    image: nginx:latest
    container_name: security-gateway
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - app

