name: CI Security Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build -t    attack-aware-app22:latest .

      - name: Run Trivy (JSON output)
        run: |
          docker run --rm \
            -v /var/run/docker.sock:/var/run/docker.sock \
            -v ${{ github.workspace }}:/workspace \
            aquasec/trivy:latest image \
            --format json \
            --output /workspace/trivy-report.json \
            attack-aware-app22:latest

      - name: Policy Gate (Context Aware)
        run: |
          CRITICAL_FIXABLE=$(jq '[.Results[].Vulnerabilities[]? 
            | select(.Severity=="CRITICAL" and .FixedVersion != null)] 
            | length' trivy-report.json)

          echo "Fixable CRITICAL vulnerabilities: $CRITICAL_FIXABLE"

          if [ "${{ github.ref_name }}" = "main" ]; then
            echo "Strict mode: main branch"

            if [ "$CRITICAL_FIXABLE" -gt 0 ]; then
              echo "Policy violation on main branch"
              exit 1
            else
              echo "Policy passed"
            fi

          else
            echo "Warning mode: non-main branch"
            echo "Vulnerabilities detected but not blocking build"
          fi

      - name: Upload Trivy Report
        uses: actions/upload-artifact@v4
        with:
          name: trivy-report
          path: trivy-report.json

