name: CI Security Pipeline

on:
  push:
    branches: [ "main" ]


jobs:
  security-scan:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Build Docker image
      run: docker built -t attack-aware-app1:latest .




    - name: Run Trivy (CRITICAL only)
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: attack-aware-app:latest
        severity: CRITICAL
        exit-code: 1

